{% capture title %}{% if page.title %}{{ page.title }} — {% endif %}{{ site.title }}{% endcapture %}

<title>{{ title }}</title>
<meta property="og:title" content="{{ title }}">

{% assign description = page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape %}
<meta content="{{ description }}" name="description">
<meta content="{{ description }}" property="og:description">

<meta content="{{ site.url }}/{{ site.baseurl }}/assets/images/{{ page.image | default: 'logo.png' }}" name="thumbnail" />
<meta content="{{ site.url }}/{{ site.baseurl }}/assets/images/{{ page.image  | default: 'logo.png' }}" property="og:image" />

{% capture canonical_url %}{{ site.url }}{{ page.url | replace:'index.html','' }}{% endcapture %}
<link href="{{ canonical_url }}" rel="canonical">
<meta content="{{ canonical_url }}" property="og:url">

{% unless site.twitter_username == nil %}
<meta content="@{{ site.twitter_username }}" name="twitter:site">
<meta content="@{{ site.twitter_username }}" name="twitter:creator">
{% endunless %}

<meta content="{{ site.title }}" property="og:site_name" />

{% if page.collection == 'posts' %}
  <meta property="og:type" content="article"> {% comment %} Defaults to `website`, which is fine. {% endcomment %}

  {% capture iso_date %}{{ page.date | date:'%Y-%m-%d' }}{% endcapture %}
  <meta property="date" content="{{ iso_date }}">
  <meta property="article:published_time" content="{{ iso_date }}">

  {% for author in page.authors %}
    <meta property="article:author:username" content="{{ author }}">
  {% endfor %}
{% endif %}

<meta content="summary" name="twitter:card" />
