<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <head>
    <meta charset="utf-8">
    <link href="{{ site.baseurl }}/assets/css/global.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="{{ site.baseurl }}/assets/css/{{ page.layout }}.css" rel="stylesheet" type="text/css" media="all"/>

    {% for file in page.additional_css %}
      <link rel="stylesheet" type="text/css" href="{% if file contains '://' %}{{ file }}{% else %}{{ site.baseurl }}/assets/css/{{ file }}{% endif %}"/>
    {% endfor %}

    {% include metadata.html %}
  </head>
  <body {% unless page.layout == 'default' %}class="layout-{{ page.layout }}"{% endunless %}>
    <header>
      <nav>
        <ul>
          {% for page in site.toplevel %}
          <li><a href="{{ page.url | relative_url }}">{{ page.title }}</a></li>
          {% endfor %}
        </ul>
      </nav>
    </header>

    <main>
      {{ content }}
    </main>

    <footer>
      <a href="https://github.com/{{ site.repository }}/edit/master/{{ page.path }}">&#9998; Improve this page</a>
    </footer>
  </body>
</html>
